html {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  list-style: none;
  align-items: center;
}

a {
  color: white;
}

header {
  background: linear-gradient(45deg, #3e1305, #8a2811);
  padding-top: 100px;
  font-weight: 300;
  font-size: 3rem;
  color: white;
}
p.tagline {
  font-weight: 500;
  padding-bottom: 1rem;
}
svg {
  height: 64px;
  width: 64px;
  fill: #8a2811;
}

.container {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

li {
  display: flex;
}

.feature-icon {
  color: #8a2811;
}

.feature-descr {
  margin-left: 25px;
}

@media (min-width: 768px) {
  header {
    background-image: url("/pencil/images/angelina-litvin-32188-unsplash.jpg");
    background-position: right, bottom;
    background-size: cover;
    color: black;
    font-size: 5rem;
    padding-top: 100px;
  }
  p.tagline {
    font-size: 1.5rem;
    width: 50%;
  }

  .container {
    width: 750px;
    margin-right: 5px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  header {
    padding-top: 150px;
    padding-bottom: 50px;
  }
  .container {
    width: 970px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    flex-basis: 33%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

footer {
  background: #3e1305;
  font-weight: 300;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
}
